@{
    ViewBag.Title = "About";
}

<html>
<body>
    <h2 class="about-titles">Коя е Дзвера</h2>
    <div class="about-contents">

             Дзвера е едно много мило коте, ако под 'мило' разбираме 'дебилнo'. Като една истинска котка тя смята двукраките за свои роби, 
        които са длъжни да я хранят, поят, чешат (ако е на кеф) и общо взето - да й слугуват во веки.
        Обикновено е вечно крива, като проблясъците за гнявене са много малко. Обича да стои по шкафовете на терасите, за да клюкари
        какво става отвън, а другото, което мн обича е да я хранят. Затова е и на диета.
    </div>
    <h2 class="about-titles">За собствениците на Дзвера</h2>
    <div class="about-contents">

              Собствениците на Дзвера са дори по-откачени и от нея. Симпатична и не толкова млада двойка, която в момента е на екскурзия. 
        Повериха грижита за Бубу на своята вярна приятелка Udarensamolet, която всеки ден ходи да проверява дали котката не е запалила
        джапанките на някъде или пък случайно, ама супер случайно, не се е научила да отваря хладилника с двете предни лапи.

    </div>
    <h2 class="about-titles">Бубу</h2>
    <hr />
    <div class="center">
        <div class="center-block" align="center">
            <img src="~/Content/bubu3.png" alt="luda kotka"/> 
            <img src="~/Content/bubu.jpg" alt="luda kotka"/> 
            <img src="~/Content/bubu2.jpg" alt="luda kotka"/> 
        </div>
    </div>
</body>
</html>